@import "tailwindcss";

@theme inline {
  --color-foreground: var(--foreground);
}

:root {
    --foreground: #222;
    --foreground-rgba: 34, 34, 34;
    --background: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
    --foreground-rgba: 237, 237, 237;
    --background: 0, 0, 0
  }
}

body {
  color: var(--foreground);
  background: transparent;
}


.main {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100vh;
    /* background-color: rgba(var(--background), 0.5); */
    /* backdrop-filter: blur(5px); */
    border-radius: 8px;
}

.draggable {
    app-region: drag;
    -webkit-app-region: drag;
}

.draggable button {
    app-region: no-drag;
    -webkit-app-region: no-drag;
}

.no-drag {
    app-region: no-drag;
    -webkit-app-region: no-drag;
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(var(--foreground-rgba), 0.05);
  border-radius: 5px;
  app-region: no-drag;
  -webkit-app-region: no-drag;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(var(--foreground-rgba), 0.2);
}

/* Wiriting Tools Styles */

.tileButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 15px;
    border-radius: 7px;
    background-color: rgba(var(--foreground-rgba), 0.1);
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    width: 100%;
    transition: ease-in-out all 0.1s;
    font-size: 14px;
}


.tileButton.transparent {
    justify-content: start;
}

.transparent {
    background: transparent;
}
.transparent:hover{
    background-color: rgba(var(--foreground-rgba), 0.1);
}

.tileButton:hover {
    background-color: rgba(var(--foreground-rgba), 0.2);
}

.tileButton:active {
    transform: scale(0.9);
}

.tileButton.large {
    flex-direction: column;
    height: 60px;
    border-radius: 10px;
    font-size: 14.5px;
}

#writingToolsResult ol, #writingToolsResult ul {
    list-style: initial;
    list-style-position: inside;
}

#writingToolsResult li {
    display: list-item;
    margin-bottom: 5px;
}

#writingToolsResult p {
    margin-bottom: 10px;
}

#writingToolsResult code {
    background-color: rgba(var(--foreground-rgba), 0.1);
    padding: 2px 5px;
    border-radius: 5px;
}

/* Minichat Styles */

.message-content {
    list-style-position: inside;
}

.message-content p {
    margin-bottom: 3px;
}

.message-content li {
    margin-bottom: 5px;
}