@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
    --foreground-rgba: 34, 34, 34;
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgba: 237, 237, 237
  }
}

body {
  background: transparent;
}

.main {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100vh;
    /* background-color: rgba(var(--background), 0.5); */
    /* backdrop-filter: blur(5px); */
    border-radius: 8px;
}

.draggable {
    app-region: drag;
    -webkit-app-region: drag;
}

.draggable button {
    app-region: no-drag;
    -webkit-app-region: no-drag;
}

.no-drag {
    app-region: no-drag;
    -webkit-app-region: no-drag;
}

::-webkit-scrollbar {
  width: 7px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(var(--foreground-rgba), 0.05);
  border-radius: 5px;
  app-region: no-drag;
  -webkit-app-region: no-drag;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(var(--foreground-rgba), 0.2);
}

/* Wiriting Tools Styles */

.tileButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 15px;
    border-radius: 7px;
    background-color: rgba(var(--foreground-rgba), 0.1);
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    width: 100%;
    transition: ease-in-out all 0.1s;
    font-size: 14px;
}

.tileButton.transparent {
    justify-content: start;
}

.transparent {
    background: transparent;
}
.transparent:hover{
    background-color: rgba(var(--foreground-rgba), 0.1);
}

.tileButton:hover {
    background-color: rgba(var(--foreground-rgba), 0.2);
}

.tileButton:active {
    transform: scale(0.9);
}

.tileButton.large {
    flex-direction: column;
    height: 60px;
    border-radius: 10px;
    font-size: 14.5px;
}

#writingToolsResult ol, #writingToolsResult ul {
    list-style: initial;
    list-style-position: inside;
}

#writingToolsResult li {
    display: list-item;
    margin-bottom: 5px;
}

#writingToolsResult p {
    margin-bottom: 10px;
}

#writingToolsResult code {
    background-color: rgba(var(--foreground-rgba), 0.1);
    padding: 2px 5px;
    border-radius: 5px;
}

/* Minichat Styles */

.message-content {
  color: rgba(var(--foreground-rgba), 0.85);
  list-style-position: inside;
}

.message-content b, .message-content strong {
  color: rgba(var(--foreground-rgba), 1);
}

/* .message-content p {
    margin-bottom: 3px;
}

.message-content ol, .message-content ul {
    list-style: initial;
    list-style-position: inside;
}

.message-content li {
    display: list-item;
    margin-bottom: 5px;
} */

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}